<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> HoosRiding: Create Account </title>
</head>
<body>
    <h1> Create Your Account </h1>
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ caform }} </br>
        <h2>{{ data }}</h2>
        {{ resp }}
        <button type="submit">submit</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <p>Username: </p>
        {{ caform.username }} <br>
        <p> Password: </p>
        {{ caform.password }} <br>
        <button type="submit">submit</button>
    </form>
    
    {% endblock %}
</body>
</html>