<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
    </head>
    <body>
        <h1>Available Rides
        </h1>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Time</th>
                    <th scope="col">date</th>
                    <th scope="col">seats</th>
                  </tr>
                </thead>
                <tbody>
                    {% for key, values in most_recent_rides_available.items %}
                  <tr>
                    <td>{{ values.start }}</td>
                    <td>{{ values.destination }}</td>
                    <td>{{ values.hr }}</td>
                    <td>{{ values.date }}</td>
                    <td>{{ values.seats_offered }}</td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
    </body>
</html>