<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
    </head>
    <body>
        <h1>Available Rides
        </h1>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Time</th>
                    <th scope="col">date</th>
                    <th scope="col">seats</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{ most_recent_rides_available.4.start }}</th>
                    <td>{{ most_recent_rides_available.4.destination }}</td>
                    <td>2:00PM</td>
                    <td>2/2/2019</td>
                    <td>4/5</td>
                  </tr>
                  <tr>
                    <th scope="row">Cville</th>
                    <td>Arlington</td>
                    <td>2:00PM</td>
                    <td>2/2/2019</td>
                    <td>4/5</td>
                  </tr>
                  <tr>
                    <th scope="row">Cville</th>
                    <td>Arlington</td>
                    <td>2:00PM</td>
                    <td>2/2/2019</td>
                    <td>4/5</td>
                  </tr>
                </tbody>
              </table>
    </body>
</html>