<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
    </head>
    <body>
        <h1>Available Rides - what everyone sees</h1>
        <h2></h2>
        
        <a class="btn btn-primary" href="{% url 'login'%}">Login</a>
        <a class="btn btn-primary" href="{% url 'logout'%}">LogOut</a>
        <a class="btn btn-primary" href="{% url 'createlisting'%}">Create Ride</a>
        <a class="btn btn-primary" href="{% url 'search'%}">Search</a>
        <h7>Know your competition, driver!</h4>
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Time</th>
                    <th scope="col">date</th>
                    <th scope="col">seats</th>
                    <th scope="col">price</th>
                  </tr>
                </thead>
                <tbody>
                    {% for values in most_recent_rides_available.rides %}
                  <tr>
                    
                    <td><a href='/ridedetails/{{values.ride_id}}'> {{ values.start }}</a></td>
                    <td>{{ values.destination }}</td>
                    <td>{{ values.hr }}</td>
                    <td>{{ values.date }}</td>
                    <td>{{values.seats_filled}}/{{ values.seats_offered }}</td>
                    <td>{{ values.price }}</td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
              
              <h1>Rides Giving to others!</h1>
              <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">From</th>
                          <th scope="col">To</th>
                          <th scope="col">Time</th>
                          <th scope="col">date</th>
                          <th scope="col">seats</th>
                          <th scope="col">price</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for values in driver_current_rides.rides %}
                        <tr>
                          
                          <td><a href='/ridedetails/{{values.ride_id}}'> {{ values.start }}</a></td>
                          <td>{{ values.destination }}</td>
                          <td>{{ values.hr }}</td>
                          <td>{{ values.date }}</td>
                          <td>{{values.seats_filled}}/{{ values.seats_offered }}</td>
                          <td>{{ values.price }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>


                    </table>
                    <h1>Rides Going on!</h1>
                    <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Time</th>
                                <th scope="col">date</th>
                                <th scope="col">seats</th>
                                <th scope="col">price</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for values in rides_getting_current_rides.rides %}
                              <tr>
                                
                                <td><a href='/ridedetails/{{values.ride_id}}'> {{ values.start }}</a></td>
                                <td>{{ values.destination }}</td>
                                <td>{{ values.hr }}</td>
                                <td>{{ values.date }}</td>
                                <td>{{values.seats_filled}}/{{ values.seats_offered }}</td>
                                <td>{{ values.price }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
    </body>
</html>
