<html>
    <head>
        <title>Ride Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    </head>
    <body>
        <h1>Ride Details
        </h1>
        <div class="card">
            {% for key, values in most_recent_rides_available %}
            <div class="card-body">
              <h5 class="card-title">Logistics</h5>
              <h6 class="card-subtitle "">From : </h6><br>
              <h6 class="card-subtitle "">To : </h6><br>
              <h6 class="card-subtitle "">Date : </h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Driver's Information</h5>
              <h6 class="card-subtitle "">Name : </h6><br>
              <h6 class="card-subtitle "">Phone Number : </h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Passengers</h5>
              <h6 class="card-subtitle "">Name : </h6><br>
              <h6 class="card-subtitle "">Name : </h6>
            </div>
          </div>
          <div class="mx-auto" style="width: 500px;">
            <button type="button" class="btn btn-primary btn-lg btn-block">Join Ride</button></body></div>            
    </body>
</html>