<html>
    <head>
        <title>Ride Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    </head>
    <body>
        <h1>Ride Details
        </h1>
        <div class="card">
     
            <div class="card-body">
              <h5 class="card-title">Logistics</h5>
              <h6 class="card-subtitle "">From : {{ride.start}} </h6><br>
              <h6 class="card-subtitle "">To : {{ride.destination}}</h6><br>
              <h6 class="card-subtitle "">Date : {{ride.depart_time}} </h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Driver's Information</h5>
              <h6 class="card-subtitle "">Name : {{driver.first_name}} {{driver.last_name}}</h6><br>
              <h6 class="card-subtitle "">Phone Number :{{driver.phone}} </h6>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Passengers</h5>
              {% for key, values in passengers.items %}
              <div class = "card-passenger">
                
                  <br>
                  <h6 class="card-subtitle ">Name : {{values.first_name}} {{values.last_name}}</h6>
                  <img src="{{values.profile_url}}"class = "center" style="width:100px; height:100x;">
                  <br>
                </div>
                {% endfor %}
            </div>
          </div>
          <div class="mx-auto" style="width: 500px;">
            <button type="button" class="btn btn-primary btn-lg btn-block">Join Ride</button></body></div>            
    </body>
</html>